---
import Layout from "@layouts/Layout.astro";
const title = "Tags"
---

<Layout pageTitle={title}>
    <h1>aqui van todas las etiquetas que tenemos en nuestros MD 
        o en algun lugar 
    </h1>
</Layout>