---
---
<div class="sideBarActions">
    <!-- esto tienen que ser image que tengan las acciones -->
    <button>Some action, might delete this</button>
    <a href="">this anchor should redirecto to RSS</a>
    <button>this button is for toggle dark and light mode</button>
</div>