---
import '@styles/global.css'
---

<nav id="navBar" class="NavBarMain">
<a href="/">Inicio</a>
<a href="/about">About the author</a>
<a href="/thoughts">Pensaminetos</a>
<a href="/trips">Viajes / fotos</a>
<a href="/tags">Todas las etiquetas-tematicas</a>
</nav>
