---
import "@styles/global.css";
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";
import Description from "@components/DescriptionBlog.astro";
import NavBarActions from "@components/NavBarActions.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logoBlog.svg" />

		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="page-shell">
			<div class="layout">
				<aside class="sidebar">
					<Description />
					<Navigation />
					<NavBarActions/>
				</aside>

				<main class="content">
					<slot />
					<Footer />
				</main>
			</div>
		</div>
	</body>
</html>

<style></style>
